.intro__list {
    width: 690px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
    margin: 33px 0 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__list {
        min-width: 720px;
        margin: 33px 0 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro__list {
        width: 288px;
        font-size: 12px;
        line-height: 1.5;
    }
} 

