.intro__list {
    width: 690px;
    max-height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    border: 1px solid red;
    list-style-type: none;
    padding: 0;
    margin: 33px 0 0;
}