.cover__subtitle {
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 32px auto 0;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        margin: 32px 332px 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        width: 360px;
        margin: 32px 204px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        margin: 16px 16px 0;
        font-size: 14px;
        line-height: 1.1; 
    }
}

