.cover__subtitle {
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 18px auto 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        margin: 32px 332px 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        min-width: 360px;
        margin: 32px 204px 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        margin: 16px 16px 0;
        font-size: 14px;
        line-height: 1.1; 
    }
}

