.header {
    max-width: 1184px;
    min-height: 52px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
