.header__link {
    display: flex;
    margin-top: 18px;
    margin-left: auto;
    list-style-type: none;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .header__link {
        margin-bottom: 8px;
    }
}

