.logo {
    width: 176px;
    height: 52px;
}

@media (max-width: 1238px) and (min-width: 1048px) {
    .logo {
        width: 176px;
        height: 52px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 176px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .logo {
        width: 142px;
        height: 42px;
    }
}