.footer__copyright {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    grid-column: 7;
    margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
    .footer__copyright {
        margin-right: 24px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        text-align: start;
        margin-top: 48px;
        margin-bottom: 0;
    }
}

