.intro__text {
    width: 690px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        width: 288px;
    }
}

