.intro {
    width: 690px;
    margin: 114px 442px auto 148px;
    display: flex;
    flex-flow: wrap;
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 690px;
        margin-left: 48px;
        margin-right: 286px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 720px;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 288px;
        margin: 64px 16px 0;
        flex-wrap: nowrap;
        flex-flow: column;
    }
}
