.cover__background {
    background: url(../../../images/__background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 740px;
    margin: 0;
    z-index: -2;
    display: block;
    position: absolute;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 100%;
    }
}