.footer {
    max-width: 1184px;
    margin: 92px 48px 24px 48px;
    color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: max-content repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 18px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        min-width: 720px;
        margin: 88px 24px 24px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        width: calc(100% - 16px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 64px 0 0 16px;
        gap: 0;
    }
}