.footer {
    max-width: 1184px;
    padding: 92px 48px 24px 48px;
    color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: max-content repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 18px;
}

@media screen and (max-width: 1279px) {
    .footer {
        padding: 92px 48px 42px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px 24px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 16px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 64px 0 24px 16px;
        gap: 0;
    }
}