.place__url-heading {
    margin-top: 106px;
    width: 456px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.8px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

