.place__url-heading {
    width: 456px;
    height: 12px;
    margin-top: 106px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.8px;
    letter-spacing: 2px;
    color: #AAAAAA;
}