.place__website {
    width: 456px;
    color: #AAA;
    margin-top: 0px;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .place__website {
        min-width: 456px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__website {
        width: 352px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .place__website {
        width: 288px;
        margin: 32px 16px 0;
        display: flex;
        flex-direction: column;
    }
}
